<!DOCTYPE html>
<html lang="en">
<head>
    <title>img</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #container {
            width: 600px;
            height: 600px;
        }
        #wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 600px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            object-fit: cover;
        }

        #title {
            position: absolute;
            top: 0;
            left: 0;
            width: 600px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba( 255, 255, 255, 0.5 );
        }

        #titleBorder {
            position: absolute;
            top: 50px;
            left: 50px;
            width: 500px;
            height: 500px;
            border: 3px solid rgba(255, 255, 255, 0.5);
        }

        #title_main {
            display: inline-block;
            text-align: center;
            font-size: 36pt;
            font-weight: bolder;
            margin: 0;
            padding: 0 .5rem;
            color: <%= font_color %>;
            background-color: rgba( 0, 0, 0, 0 );
        }

        #title_sub {
            display: inline-block;
            text-align: center;
            font-size: 24pt;
            font-weight: bold;
            margin: 0;
            padding: 0 .5rem;
            color: <%= font_color %>;
            background-color: rgba( 0, 0, 0, 0 );
        }
    </style>
</head>
<body>
    <div id="container">
      <div id="wrapper" style="background-image:url(<%= image_url %>)">
        <div id="titleBorder"></div>
        <div id="title">
          <p id="title_main"><%= title_main %></p>
          <p id="title_sub"><%= title_sub %></p>
        </div>
      </div>
    </div>

    <p><%= image_url %></p>
    <p><%= title_main %></p>
    <p><%= title_sub %></p>
    <p><%= bg_color %></p>
    <p><%= font_color %></p>

    <script>
        let value = "<%= bg_color %>";
        let opacity = "<%= bg_opacity %>";
        let shadow = "<%= font_shadow %>";
        value = value.match(/[A-Za-z0-9]{2}/g);
        value = value.map(function(v) { return parseInt(v, 16) });
        if(opacity === "bg_opacity") {
            opacity = 0;
        }else{
            opacity = 1;
        }
        value = "rgba(" + value.join(",") + "," + opacity + ")";

        window.onload = function () {
            const titleMain = document.getElementById("title_main");
            const titleSub = document.getElementById("title_sub");
            titleMain.style.backgroundColor = value;
            titleSub.style.backgroundColor = value;
            if(shadow === "font_shadow") titleMain.style.textShadow = "2px 2px 2px #000000";
        }

    </script>
</body>
</html>
